@import "./variables.scss";
@import "./mixin.scss";

@media screen and (min-width: 767px) and (max-width: 1440px) {
  // !general

  body {
    background-color: $w;
  }

  //!description

  .description {
    h2 {
      @include text(7rem, 700);
    }
  }

  //   !damages

  .damages {
    img {
      width: 40%;
      object-fit: contain;
    }
    .damages-list {
      padding-top: 5rem;
      li {
        h2 {
          @include text(5rem, 700);
        }
      }
    }
  }

  // !animations

  .animation-circle {
    top: 0;
    right: 35%;
  }

  .animation-stripe {
    transform: rotate(0);
    top: -10rem;
    left: -10rem;
    width: 100vw;
  }

  .triangle {
    display: none;
  }

  //   !bears

  .same-wrapper {
    h3 {
      @include text(1.5rem, 400);
    }
    h2 {
      @include text(4rem, 700);
    }
  }

  .same-text {
    p {
      @include text(2rem, 700);
    }
    h3 {
      @include text(1.5rem, 400);
    }
  }

  .golden-bear {
    .img-wrapper {
      padding-top: 16rem;
      top: 0;
    }
  }

  // ! footer message

  .footer-message {
    p {
      width: 100%;
      padding-bottom: 20rem;
    }
  }
}

@media screen and (max-width: 767px) {
  body {
    background-color: $w;
  }

  // !animations

  .animation-circle {
    top: 0;
    right: 35%;
  }

  .animation-stripe {
    transform: rotate(0);
    top: -10rem;
    left: -10rem;
    width: 100vw;
  }

  .triangle {
    display: none;
  }

  //   !bear

  .golden-bear {
    .img-wrapper {
      padding-top: 16rem;
      top: 0;
    }
  }
}
