@import "./variables.scss";
@import "./mixin.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  @include f-column-c();
  width: 100vw;
  margin: 0 auto;
}

// ! ----------header-----------------

header {
  @include dark();
  @include f-column();
  //   .header-text {
  //   }

  nav {
    @include f-row();
    justify-content: space-between;
  }
}

// ! -----------main------------------

main {
  display: flex;
}
