@import "./variables.scss";
@import "./mixin.scss";

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: WS;
  src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}

// ------VARIABLE INFO--------------------
//  - varible (white/black):
//  - $w: #efeaea;
//  - $b: rgb(29, 27, 27);
//  - varible (fonts):
//  - $inter: Inter, Arial, Helvetica, sans-serif;
//  - $ws: WS, Arial, Helvetica, sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: $b;
}

// ! general classes

.btn {
  color: $w;
  text-align: center;
  font-family: $ws;
  @include text(2rem, 400);
  line-height: 2.3rem;
  letter-spacing: -0.04rem;
  padding: 1.3rem 3.2rem;
  background-color: transparent;
  border: 1px solid $w;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-color: white;
    color: black;
  }
}

button {
  @extend .btn;
}

// ! general

header,
.description,
.damages,
.golden-bear,
.message,
footer {
  @include dark();
  width: 100%;
  padding: 10rem;
}

.gallery,
.poppy-bear {
  @include light();
  width: 100%;
  padding: 10rem;
}

// ! ----------header-----------------

header {
  @include f-column();
  justify-content: center;
  align-items: center;
  .header-text {
    height: 50vh;
    @include f-column();
    justify-content: center;
    align-items: center;
    h3 {
      font-family: $ws;
      @include text(1.2rem, 400);
    }
    h1 {
      font-family: $inter;
      @include text(6.2rem, 700);
    }
    h2 {
      text-align: center;
      font-family: Inter, Arial, Helvetica, sans-serif;
      @include text(6.2rem, 700);
      line-height: 51.2px;
      color: $b;
      text-shadow: 1px 1px 0 $w, -1px -1px 0 $w, 1px -1px 0 $w, -1px 1px 0 $w,
        1px 1px 0 $w;
    }

    p {
      text-align: center;
      font-family: $ws;
      @include text(1.2rem, 400);
      letter-spacing: -0.5px;
      padding-top: 1.2rem;
    }
  }

  nav {
    @include f-row();
    width: 100%;
    justify-content: space-between;
  }
}

// ! -----------main------------------

// # section description

.description {
  padding-bottom: 0;
  h2 {
    @include text(9rem, 700);
    font-family: $inter;
  }
}

// # section damages

.damages {
  @include f-row();
  justify-content: space-between;
  padding-right: 0;
  padding-top: 0;
  img {
    width: 50%;
    object-fit: contain;
  }
  ul {
    li {
      margin-bottom: 2rem;
      p {
        font-family: $ws;
        @include text(1.4rem, 400);
      }
      h2 {
        @include text(8.6rem, 700);
        font-family: $inter;
        line-height: 10rem; /* 125.216% */
        letter-spacing: -0.2rem;
      }
    }
  }
}

// # section gallery

.gallery {
  margin: auto;
  height: 2000px;
  padding: 0;
  @include f-column();
  justify-content: space-between;
  position: relative;
  overflow: visible;
  img {
    position: absolute;
    &.img-one {
      right: 8%;
      top: -5%;
      width: 25%;
    }
    &.img-two {
      left: 5%;
      top: 15%;
      width: 20%;
    }
    &.img-three {
      top: 35%;
      right: 0;
      width: 20%;
    }
    &.img-four {
      left: 15%;
      bottom: 45%;
      width: 25%;
    }
    &.img-five {
      bottom: 35%;
      right: 10%;
      width: 25%;
    }
    &.img-six {
      bottom: 28%;
      left: 0;
      width: 20%;
      z-index: 0;
    }
    &.img-seven {
      bottom: -5%;
      right: 15%;
      z-index: 0;
      width: 25%;
    }
  }
  h2 {
    text-align: left;
    width: 31%;
    color: $b;
    font-family: $inter;
    @include text(8.3rem, 700);
    line-height: 8.3rem;
    letter-spacing: -1.238px;
    margin: 15% auto 0 auto;
    padding-top: 15%;
    padding-bottom: 0.5rem;
    z-index: 99;
  }
  p {
    color: $b;
    font-family: $ws;
    @include text(1.5rem, 400);
    line-height: 3rem;
    letter-spacing: -0.408px;
    width: 31%;
    margin: 0 auto;
    &:first-of-type {
      padding-bottom: 25%;
    }
  }
}

// # section bears

.bears {
  overflow: hidden;
  width: 100%;
  z-index: 10;
  margin: 0;
  padding: 10rem;
}

.img-wrapper {
  position: relative;
  width: 100%;
  @include f-row();
  justify-content: center;
  align-items: center;
  background-color: red;
  .big-img {
    width: 55%;
    object-fit: cover;
  }
  .sm-img {
    width: 30%;
    object-fit: cover;
    z-index: 10;
    position: absolute;
    .sm-img {
      right: 70%;
    }
  }
}

.poppy-bear {
  .img-wrapper {
    .sm-img {
      right: 70%;
    }
  }
}

.animation-circle {
  width: 25%;
}

// # section message

// ! ---------------footer sozial-media
