@font-face {
  font-family: Inter;
  src: url("../fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: WS;
  src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.btn, button {
  color: #efeaea;
  text-align: center;
  font-family: WS, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: -0.04rem;
  padding: 1.3rem 3.2rem;
  background-color: transparent;
  border: 1px solid #efeaea;
  transition: all 0.5s ease-in-out;
}
.btn:hover, button:hover {
  background-color: white;
  color: black;
}

header,
.description,
.damages,
.golden-bear,
.message,
footer {
  background-color: rgb(29, 27, 27);
  color: #efeaea;
  width: 100%;
  padding: 10rem;
}

.gallery,
.poppy-bear {
  background-color: #efeaea;
  color: rgb(29, 27, 27);
  width: 100%;
  padding: 10rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .header-text {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .header-text h3 {
  font-family: WS, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
header .header-text h1 {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 6.2rem;
  font-weight: 700;
}
header .header-text h2 {
  text-align: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 51.2px;
  color: rgb(29, 27, 27);
  text-shadow: 1px 1px 0 #efeaea, -1px -1px 0 #efeaea, 1px -1px 0 #efeaea, -1px 1px 0 #efeaea, 1px 1px 0 #efeaea;
}
header .header-text p {
  text-align: center;
  font-family: WS, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: -0.5px;
  padding-top: 1.2rem;
}
header nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.description {
  padding-bottom: 0;
}
.description h2 {
  font-size: 9rem;
  font-weight: 700;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.damages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0;
  padding-top: 0;
}
.damages img {
  width: 50%;
  object-fit: contain;
}
.damages ul li {
  margin-bottom: 2rem;
}
.damages ul li p {
  font-family: WS, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}
.damages ul li h2 {
  font-size: 8.6rem;
  font-weight: 700;
  font-family: Inter, Arial, Helvetica, sans-serif;
  line-height: 10rem; /* 125.216% */
  letter-spacing: -0.2rem;
}

.gallery {
  z-index: 0;
  margin: auto;
  height: 2000px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.gallery img {
  position: absolute;
}
.gallery img.img-one {
  right: 8%;
  top: -5%;
  width: 25%;
}
.gallery img.img-two {
  left: 5%;
  top: 15%;
  width: 20%;
}
.gallery img.img-three {
  top: 35%;
  right: 0;
  width: 20%;
}
.gallery img.img-four {
  left: 15%;
  bottom: 45%;
  width: 25%;
}
.gallery img.img-five {
  bottom: 35%;
  right: 10%;
  width: 25%;
}
.gallery img.img-six {
  bottom: 28%;
  left: 0;
  width: 20%;
  z-index: 0;
}
.gallery img.img-seven {
  bottom: -5%;
  right: 15%;
  z-index: 1;
  width: 25%;
}
.gallery h2 {
  text-align: left;
  width: 31%;
  color: rgb(29, 27, 27);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 8.3rem;
  font-weight: 700;
  line-height: 8.3rem;
  letter-spacing: -1.238px;
  margin: 15% auto 0 auto;
  padding-top: 15%;
  padding-bottom: 0.5rem;
  z-index: 99;
}
.gallery p {
  color: rgb(29, 27, 27);
  font-family: WS, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.408px;
  width: 31%;
  margin: 0 auto;
}
.gallery p:first-of-type {
  padding-bottom: 25%;
}

.bears {
  width: 100%;
  margin: 0;
  z-index: 30;
}

.golden-bear,
.poppy-bear {
  padding: 20rem 10rem 0 10rem;
  margin: 0;
}

.img-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 16rem;
}
.img-wrapper .big-img {
  width: 70%;
  object-fit: cover;
  z-index: 5;
}
.img-wrapper .sm-img {
  width: 35%;
  object-fit: cover;
  z-index: 10;
  position: absolute;
}

.golden-bear {
  z-index: 20;
}
.golden-bear .img-wrapper {
  padding-top: 0;
  top: 16rem;
  justify-content: flex-start;
}
.golden-bear .img-wrapper .sm-img {
  bottom: 15%;
  right: 2%;
}

.poppy-bear {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 5rem;
  z-index: 10;
  position: relative;
}
.poppy-bear .img-wrapper {
  justify-content: flex-end;
}
.poppy-bear .img-wrapper .sm-img {
  left: 2%;
}

.animation-wrapper {
  position: relative;
  z-index: 0;
  height: 20vh;
  overflow: hidden;
  background-color: #efeaea;
  color: rgb(29, 27, 27);
}

.animation-circle {
  z-index: 0;
  position: absolute;
  right: -8%;
  top: -35%;
  width: 360px;
  height: 360px;
  object-fit: contain;
  animation: rotateAnimation 5s infinite linear;
}

.same-header {
  display: flex;
  align-items: center;
}
.same-header .same-wrapper {
  width: 50%;
}
.same-header .same-wrapper h3 {
  font-family: WS, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.408px;
  padding-bottom: 1.2rem;
}
.same-header .same-wrapper h2 {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 8.5rem;
  font-weight: 700;
  line-height: 82.292px;
}

.same-text {
  width: 50%;
  padding-top: 3rem;
}
.same-text p {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -0.408px;
  margin-bottom: 3rem;
}
.same-text h3 {
  font-family: WS, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.408px;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=styles.css.map */
